<h2>Dziękujemy za rejestrację.</h2>
<style type="text/css">
    #debug-kit-toolbar { display: none !important; }
    input[type='text'],input[type='email'] { font-size: 12px !important; padding: 5px !important; }
    label { font-size: 12px !important; }
    form div { margin-bottom: 0 !important; }
    body { background: #FFF !important; }
</style>