<h2>Wysyłanie pliku synchronizacji danych</h2>
<?php 
echo $this->html->image('back.png', array('fullBase' => false, 'title' => 'Powrót', 'url' => array('action' => 'sendFile')));
echo $this->html->image('save.png', array('fullBase' => false, 'title' => 'Zapisz' , 'id' => 'uplod_file', 'onclick' => '$("#DocumentSendFileForm").submit()'));
echo "<hr /><br />";

echo $this->Form->create('Document',array('enctype' => 'multipart/form-data'));
echo $this->Form->input('Document.datafile',array('type' => 'file', 'label' => 'Wczytaj plik bazy'));

?>